
/* ============================
   SASS VARIABLES AND MIXINS
=============================== */

$grey-background: #F7F7F9;
$table-small-text: lighter;
$medium-padding: 25px;
$dynamic-text-color: #da112a;
$breakpoint-tablet: 768px;

@mixin dynamic-table-text {
    color: $dynamic-text-color;
    font-size: 14px;
}
@mixin heading-large {
    font-size: 24px;
    font-weight: 500;
}
@mixin table-heading-medium {
    font-size: 14px;
    font-weight: bold;
}
@mixin box-shadow-card {
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-shadow: 3px 3px 3px grey;
    max-width: 723px; /* to align at various breakpoints */
    margin: 10px;
}



/* ============================
            NAV
=============================== */
nav {
    color: white;
    padding-bottom: 20px;
    background-color: black; /* fallback if no gradient support */
    /* blue shades gradient */
    background:
	linear-gradient(rgba(4, 18, 30, 0.5), rgba(17, 51, 79, 0.7)), url("../img/code-background.jpg");
	background-size: cover;

    #nav-logo-img {
        float: left;
        width: 71px;
        margin: 18px 16px 0px 0px;
    }
}


/* ============================
        TABLES SECTION/ROW
   (BUT NOT TABLES THEMSELVES)
=============================== */
#stats-row {
    padding-top: $medium-padding;
    /* aligns search box in datatables rendering */
    #apiDataTable_wrapper .col-sm-6 {
        width:200px;
        float: left;
    }
    #apiDataTable_wrapper {
        .row:nth-child(2) {
            overflow: scroll;
        }
    }
    /* github stats card not incl. table itself */
    #why-these-stats {
        padding-top: $medium-padding;
    }
    #last-refresh {
        clear: both;
        padding-bottom: $medium-padding;
        padding-top: 4px;
        padding-right: 10px;
    }
    /* card containing github table */
    .element-border {
        @include box-shadow-card;
    }
    .dynamic-text {
        @include dynamic-table-text;
    }
}

/* ============================
            TABLES
=============================== */
table {
    /* other stats table */
    #other-stats-column {
        padding-left: $medium-padding;
    }
    .static-data td {
        color: black;
        font-size: 14px;
    }
    small {
        font-weight: $table-small-text;
    }
    tbody th {
        @include table-heading-medium;
    }
    // th, td {  TODO this is not working.... i want shorter row height
    //     padding: 4px 8px 4px 8px;
    // }
}

/* github table */
#apiDataTable {
    width: 100% !important;
    tbody tr {
        td:nth-child(2), td:nth-child(3), td:nth-child(4)  {
            @include dynamic-table-text;
        }
        td:first-child {
            @include table-heading-medium;
        }
    }
}


/* ============================
         CHART SECTION
=============================== */
.grey-row {
    background-color: #F7F7F9;
    padding-top: $medium-padding;
    margin-top: 35px;
    padding-bottom: 50px;

    h3 {
        padding-bottom: $medium-padding;
    }
    /* "interest over time" iframe */
    #trends-widget-1 {
        height: 400px;
    }
    #market-reach {
        margin-top: 20px;
    }
    #other-stats-column {
        margin-top: 20px !important;
    }
}


/* ============================
        MEDIA QUERIES
=============================== */
.modal-title {
    font-size: 28px;
}
.modal-body h4 {
    font-size: 20px;
}




/* ============================
        MEDIA QUERIES
=============================== */
@media only screen and (max-width: $breakpoint-tablet) {
    table {
        width: 100%;
    }
    nav h1 {
        font-size: 28px;
    }

}

/* ============================
   DISCARDS & MAYBE LATERS
=============================== */
/* DIDN'T WORK */
/*@font-face {
    font-family: Digital;
    src: url('djb-get-digital.ttf');
}
.digital-font {
    font-family: Digital;
}*/
/*.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}
.jumbotron {
    padding-bottom: 20px;
}*/
